USE [master]
GO
/****** Object:  Database [RestaurantManagementDB]    Script Date: 12-07-2026 00:45:36 ******/
CREATE DATABASE [RestaurantManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RestaurantManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\RestaurantManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RestaurantManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\RestaurantManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RestaurantManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RestaurantManagementDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12-07-2026 00:45:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 12-07-2026 00:45:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[BillId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
	[Tax] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[GrandTotal] [decimal](18, 2) NOT NULL,
	[BillDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Bills] PRIMARY KEY CLUSTERED 
(
	[BillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuCategories]    Script Date: 12-07-2026 00:45:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuCategories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_MenuCategories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuItems]    Script Date: 12-07-2026 00:45:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItems](
	[MenuItemId] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](100) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
 CONSTRAINT [PK_MenuItems] PRIMARY KEY CLUSTERED 
(
	[MenuItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 12-07-2026 00:45:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[MenuItemId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[SpecialInstruction] [nvarchar](250) NULL,
	[KitchenStatus] [int] NOT NULL,
	[IsDelivered] [bit] NOT NULL,
	[SentToKitchenAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12-07-2026 00:45:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[TableId] [int] NOT NULL,
	[WaiterId] [int] NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[CustomerCount] [int] NOT NULL,
	[OrderStatus] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 12-07-2026 00:45:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[BillId] [int] NOT NULL,
	[AmountPaid] [decimal](18, 2) NOT NULL,
	[PaymentMode] [int] NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RestaurantTables]    Script Date: 12-07-2026 00:45:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RestaurantTables](
	[TableId] [int] IDENTITY(1,1) NOT NULL,
	[TableNumber] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Capacity] [int] NOT NULL,
	[AssignedWaiterId] [int] NULL,
 CONSTRAINT [PK_RestaurantTables] PRIMARY KEY CLUSTERED 
(
	[TableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12-07-2026 00:45:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WaiterTableAssignments]    Script Date: 12-07-2026 00:45:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WaiterTableAssignments](
	[AssignmentId] [int] IDENTITY(1,1) NOT NULL,
	[WaiterId] [int] NOT NULL,
	[TableId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_WaiterTableAssignments] PRIMARY KEY CLUSTERED 
(
	[AssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260701112555_InitialCreate', N'10.0.9')
GO
SET IDENTITY_INSERT [dbo].[Bills] ON 

INSERT [dbo].[Bills] ([BillId], [OrderId], [SubTotal], [Tax], [Discount], [GrandTotal], [BillDate]) VALUES (79, 8, CAST(285.00 AS Decimal(18, 2)), CAST(14.25 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(299.25 AS Decimal(18, 2)), CAST(N'2026-07-09T20:09:58.7131519' AS DateTime2))
INSERT [dbo].[Bills] ([BillId], [OrderId], [SubTotal], [Tax], [Discount], [GrandTotal], [BillDate]) VALUES (80, 9, CAST(330.00 AS Decimal(18, 2)), CAST(16.50 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(346.50 AS Decimal(18, 2)), CAST(N'2026-07-09T20:10:03.6826458' AS DateTime2))
INSERT [dbo].[Bills] ([BillId], [OrderId], [SubTotal], [Tax], [Discount], [GrandTotal], [BillDate]) VALUES (92, 11, CAST(485.00 AS Decimal(18, 2)), CAST(24.25 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(509.25 AS Decimal(18, 2)), CAST(N'2026-07-09T20:14:09.2293474' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Bills] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuCategories] ON 

INSERT [dbo].[MenuCategories] ([CategoryId], [CategoryName], [IsActive]) VALUES (1, N'Starters', 1)
INSERT [dbo].[MenuCategories] ([CategoryId], [CategoryName], [IsActive]) VALUES (2, N'Main', 1)
INSERT [dbo].[MenuCategories] ([CategoryId], [CategoryName], [IsActive]) VALUES (3, N'Drinks', 1)
SET IDENTITY_INSERT [dbo].[MenuCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuItems] ON 

INSERT [dbo].[MenuItems] ([MenuItemId], [ItemName], [Price], [CategoryId], [IsAvailable]) VALUES (1, N'Chicken Biryani', CAST(220.00 AS Decimal(18, 2)), 2, 0)
INSERT [dbo].[MenuItems] ([MenuItemId], [ItemName], [Price], [CategoryId], [IsAvailable]) VALUES (2, N'Chicken Varuval', CAST(180.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[MenuItems] ([MenuItemId], [ItemName], [Price], [CategoryId], [IsAvailable]) VALUES (3, N'Butter Naan', CAST(40.00 AS Decimal(18, 2)), 2, 1)
SET IDENTITY_INSERT [dbo].[MenuItems] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [MenuItemId], [Quantity], [UnitPrice], [SpecialInstruction], [KitchenStatus], [IsDelivered], [SentToKitchenAt]) VALUES (18, 8, 4, 1, CAST(0.00 AS Decimal(18, 2)), NULL, 2, 1, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [MenuItemId], [Quantity], [UnitPrice], [SpecialInstruction], [KitchenStatus], [IsDelivered], [SentToKitchenAt]) VALUES (19, 8, 3, 1, CAST(0.00 AS Decimal(18, 2)), NULL, 2, 1, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [MenuItemId], [Quantity], [UnitPrice], [SpecialInstruction], [KitchenStatus], [IsDelivered], [SentToKitchenAt]) VALUES (20, 9, 7, 1, CAST(0.00 AS Decimal(18, 2)), NULL, 2, 1, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [TableId], [WaiterId], [OrderDate], [CustomerCount], [OrderStatus]) VALUES (8, 1, 2, CAST(N'2026-07-09T00:02:37.4140597' AS DateTime2), 1, 2)
INSERT [dbo].[Orders] ([OrderId], [TableId], [WaiterId], [OrderDate], [CustomerCount], [OrderStatus]) VALUES (9, 2, 2, CAST(N'2026-07-09T00:02:55.1651164' AS DateTime2), 1, 2)
INSERT [dbo].[Orders] ([OrderId], [TableId], [WaiterId], [OrderDate], [CustomerCount], [OrderStatus]) VALUES (10, 2, 2, CAST(N'2026-07-09T20:04:14.7504146' AS DateTime2), 1, 2)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentId], [BillId], [AmountPaid], [PaymentMode], [PaymentDate]) VALUES (3, 79, CAST(299.25 AS Decimal(18, 2)), 0, CAST(N'2026-07-09T20:09:58.7207384' AS DateTime2))
INSERT [dbo].[Payments] ([PaymentId], [BillId], [AmountPaid], [PaymentMode], [PaymentDate]) VALUES (4, 80, CAST(346.50 AS Decimal(18, 2)), 0, CAST(N'2026-07-09T20:10:03.6852546' AS DateTime2))
INSERT [dbo].[Payments] ([PaymentId], [BillId], [AmountPaid], [PaymentMode], [PaymentDate]) VALUES (5, 92, CAST(509.25 AS Decimal(18, 2)), 0, CAST(N'2026-07-09T20:14:09.2327186' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[RestaurantTables] ON 

INSERT [dbo].[RestaurantTables] ([TableId], [TableNumber], [Status], [Capacity], [AssignedWaiterId]) VALUES (1, 1, N'Available', 4, 3)
INSERT [dbo].[RestaurantTables] ([TableId], [TableNumber], [Status], [Capacity], [AssignedWaiterId]) VALUES (2, 2, N'Ordering', 4, 2)
INSERT [dbo].[RestaurantTables] ([TableId], [TableNumber], [Status], [Capacity], [AssignedWaiterId]) VALUES (3, 5, N'Ordering', 4, 2)
SET IDENTITY_INSERT [dbo].[RestaurantTables] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Name], [Email], [Password], [Role], [IsActive]) VALUES (1, N'Admin', N'admin@gmail.com', N'123456', 0, 1)
INSERT [dbo].[Users] ([UserId], [Name], [Email], [Password], [Role], [IsActive]) VALUES (2, N'Rahul', N'rahul@gmail.com', N'123456', 1, 1)
INSERT [dbo].[Users] ([UserId], [Name], [Email], [Password], [Role], [IsActive]) VALUES (3, N'Priya', N'priya@gmail.com', N'123456', 1, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Bills_OrderId]    Script Date: 12-07-2026 00:45:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Bills_OrderId] ON [dbo].[Bills]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MenuItems_CategoryId]    Script Date: 12-07-2026 00:45:37 ******/
CREATE NONCLUSTERED INDEX [IX_MenuItems_CategoryId] ON [dbo].[MenuItems]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_MenuItemId]    Script Date: 12-07-2026 00:45:37 ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_MenuItemId] ON [dbo].[OrderItems]
(
	[MenuItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_OrderId]    Script Date: 12-07-2026 00:45:37 ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_OrderId] ON [dbo].[OrderItems]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_TableId]    Script Date: 12-07-2026 00:45:37 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_TableId] ON [dbo].[Orders]
(
	[TableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_WaiterId]    Script Date: 12-07-2026 00:45:37 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_WaiterId] ON [dbo].[Orders]
(
	[WaiterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_BillId]    Script Date: 12-07-2026 00:45:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Payments_BillId] ON [dbo].[Payments]
(
	[BillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WaiterTableAssignments_TableId]    Script Date: 12-07-2026 00:45:37 ******/
CREATE NONCLUSTERED INDEX [IX_WaiterTableAssignments_TableId] ON [dbo].[WaiterTableAssignments]
(
	[TableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WaiterTableAssignments_WaiterId]    Script Date: 12-07-2026 00:45:37 ******/
CREATE NONCLUSTERED INDEX [IX_WaiterTableAssignments_WaiterId] ON [dbo].[WaiterTableAssignments]
(
	[WaiterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bills_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bills_Orders_OrderId]
GO
ALTER TABLE [dbo].[MenuItems]  WITH CHECK ADD  CONSTRAINT [FK_MenuItems_MenuCategories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[MenuCategories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MenuItems] CHECK CONSTRAINT [FK_MenuItems_MenuCategories_CategoryId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_MenuItems_MenuItemId] FOREIGN KEY([MenuItemId])
REFERENCES [dbo].[MenuItems] ([MenuItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_MenuItems_MenuItemId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders_OrderId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_RestaurantTables_TableId] FOREIGN KEY([TableId])
REFERENCES [dbo].[RestaurantTables] ([TableId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_RestaurantTables_TableId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_WaiterId] FOREIGN KEY([WaiterId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_WaiterId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Bills_BillId] FOREIGN KEY([BillId])
REFERENCES [dbo].[Bills] ([BillId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Bills_BillId]
GO
ALTER TABLE [dbo].[WaiterTableAssignments]  WITH CHECK ADD  CONSTRAINT [FK_WaiterTableAssignments_RestaurantTables_TableId] FOREIGN KEY([TableId])
REFERENCES [dbo].[RestaurantTables] ([TableId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WaiterTableAssignments] CHECK CONSTRAINT [FK_WaiterTableAssignments_RestaurantTables_TableId]
GO
ALTER TABLE [dbo].[WaiterTableAssignments]  WITH CHECK ADD  CONSTRAINT [FK_WaiterTableAssignments_Users_WaiterId] FOREIGN KEY([WaiterId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WaiterTableAssignments] CHECK CONSTRAINT [FK_WaiterTableAssignments_Users_WaiterId]
GO
USE [master]
GO
